extends layout

block content
 link(rel='stylesheet', href ='/stylesheets/admin.css')

 main
  
   h1 Admin page
   section(class = "admin_main_content")

    div(class ="market")
      div(class = "admin_titles")
        h2 Manage Market
          button(onclick="showNewMarketItemDialog()", id = "newButton") Add new item
      //- Dialog box for adding new item
      dialog(id="newItemDialog")
       form(action='/admin/AddItem', method='POST')
        //- Dialog inputs
        label(for="newItemName") Name
        input(type="text", name ="newItemName")

        label(for="newItemPrice") Price
        input(type="text", name ="newItemPrice")

        label(for="newItemType") Type
        input(type="text", name ="newItemType")

        label(for="newItemAvailability") Availability
        input(type="text", name ="newItemAvailability")
        button(type="submit") Add
      //- Rendered items from database
      div(class = "admin_items")
        ul 
        each item in items
          div(class = "tour")
          li 
            p Name: #{item.name}
            p price: #{item.price}
            p type: #{item.type}
            p availability: #{item.availability}
            form(action='/admin/deleteItem', method='POST', class = "button")
              input(type="hidden", name ="id", value = item._id)
              button(type = "submit", class = "delete_button") Delete Item

    div(class ="tours")
      div(class = "admin_titles")
        h2 Manage Tours
          button(onclick="showNewTourDialog()", id = "newButton") Add new tour
      //- Dialog box for adding new tour
      dialog(id="newTourDialog")
       form(action='/admin/AddTour', method='POST')
        //- Dialog inputs
        label(for="newTourGuide") Tour guide
        input(type="text", name ="newTourGuide")

        label(for="newDestination") Destination
        input(type="text", name ="newDestination")

        label(for="newDescription") Description
        input(type="text", name ="newDescription")

        label(for="newPrice") Price
        input(type="text", name ="newPrice")

        label(for="newCapacity") Capacity
        input(type="text", name ="newCapacity")

        button(type="submit") Add

      //- Rendered tours from database
      div(class = "admin_items")
        ul 
          each tour in tours
            div(class = "tour")
            li
              p Tour guide: #{tour.tourGuide}
              p Destination: #{tour.destination}
              p Description: #{tour.description}
              p Price: #{tour.price}
              p Capacity: #{tour.capacity}
              form(action='/admin/deleteTour', method='POST', class = "button")
               input(type="hidden", name ="id", value = tour._id)
               button(type = "submit", class = "delete_button") Delete Tour

    div(class ="users")
      h2 Manage Users
      //- Rendered users from database
      div(class = "admin_items")
        ul 
        each user in users 
          div(class = "user")
          li 
            p Email: #{user.email}
            form(action="/admin/deleteUserAccount", method="POST")
              input(type="hidden", name="id", value=user._id)
              button(type="submit", class = "delete_button") Delete Account
    script(src="/javascripts/adminCS.js")