extends layout

block content
  link(rel='stylesheet', href='/stylesheets/booking.css')
  h1 Book a Tour

  .intro-section
    .intro-info
      h2 Explore Pu Ngaol with Our Guided Tours
      p Discover the beauty and culture of Pu Ngaol with our local guides. Select a tour, choose a date, and get ready for an unforgettable experience.

  .tour-list-section
    .tour-list
      if tours && tours.length
        each tour in tours
          .tour-item
            h2 #{tour.destination} - #{tour.price}
            p Tour Guide: #{tour.tourGuide}
            p Description: #{tour.description}
            label
              input(type='radio', name='tourId', value=tour._id)
              | Select this tour
      else
        p No tours available at the moment.

  .date-selection
    form
      label(for='date') Select Date:
      input(type='date', id='date', name='date', required)
      button(type='submit') Confirm Booking

  .info-section
    #confirmationMessage(style='display:none')
      h2 Booking Confirmed!
      p Thank you for booking a tour with us.
    
