extends layout

block content
 link(rel='stylesheet', href ='/stylesheets/admin.css')

 main
  
   h1 ទំព័រអ្នកគ្រប់គ្រង
   section(class = "admin_main_content")

    div(class ="market")
      div(class = "admin_titles")
        h2 គ្រប់គ្រងទីផ្សារ
          button(onclick="showNewMarketItemDialog()", id = "newButton") បន្ថែមធាតុថ្មី។
      //- Dialog box for adding new item
      dialog(id="newItemDialog")
       form(action='/admin/AddItem', method='POST')
        //- Dialog inputs
        label(for="newItemName") ឈ្មោះ
        input(type="text", name ="newItemName")

        label(for="newItemPrice") តម្លៃ
        input(type="text", name ="newItemPrice")

        label(for="newItemType") ប្រភេទ
        input(type="text", name ="newItemType")

        label(for="newItemAvailability") ភាពអាចរកបាន
        input(type="text", name ="newItemAvailability")
        button(type="submit") បន្ថែម
      //- Rendered items from database
      div(class = "admin_items")
        ul 
        each item in items
          div(class = "tour")
          li 
            p ឈ្មោះ: #{item.name}
            p តម្លៃ: #{item.price}
            p ប្រភេទ: #{item.type}
            p ភាពអាចរកបាន: #{item.availability}
            form(action='/admin/deleteItem', method='POST', class = "button")
              input(type="hidden", name ="id", value = item._id)
              button(type = "submit", class = "delete_button") លុបធាតុ

    div(class ="tours")
      div(class = "admin_titles")
        h2 គ្រប់គ្រងដំណើរទេសចរណ៍
          button(onclick="showNewTourDialog()", id = "newButton") បន្ថែមដំណើរកម្សាន្តថ្មី។
      //- Dialog box for adding new tour
      dialog(id="newTourDialog")
       form(action='/admin/AddTour', method='POST')
        //- Dialog inputs
        label(for="newTourGuide") ម​គ្គុ​ទេស​ក៍​ទេសចរណ៍
        input(type="text", name ="newTourGuide")

        label(for="newDestination") គោលដៅ
        input(type="text", name ="newDestination")

        label(for="newDescription") ការពិពណ៌នា
        input(type="text", name ="newDescription")

        label(for="newPrice") តម្លៃ
        input(type="text", name ="newPrice")

        label(for="newCapacity") សមត្ថភាព
        input(type="text", name ="newCapacity")

        button(type="submit") បន្ថែម

      //- Rendered tours from database
      div(class = "admin_items")
        ul 
          each tour in tours
            div(class = "tour")
            li
              p ម​គ្គុ​ទេស​ក៍​ទេសចរណ៍: #{tour.tourGuide}
              p គោលដៅ: #{tour.destination}
              p ការពិពណ៌នា: #{tour.description}
              p តម្លៃ: #{tour.price}
              p សមត្ថភាព: #{tour.capacity}
              form(action='/admin/deleteTour', method='POST', class = "button")
              input(type="hidden", name ="id", value = tour._id)
              button(type = "submit", class = "delete_button") លុបដំណើរកម្សាន្ត

    div(class ="users")
      h2 គ្រប់គ្រងអ្នកប្រើប្រាស់
      //- Rendered users from database
      div(class = "admin_items")
        ul 
        each user in users 
          div(class = "user")
          li 
            p អ៊ីមែល: #{user.email}
            form(action="/admin/deleteUserAccount", method="POST")
              input(type="hidden", name="id", value=user._id)
              button(type="submit", class = "delete_button") លុប​គណនី
    script(src="/javascripts/adminCS.js")