extends layout

block content
 main
  h1= title

  div 
   h2 Personal details
   p Name: #{user.firstName} #{user.lastName}
  div 
   h2 Contact info 
   p Email: #{user.email}
   p Phone number : #{user.phoneNumber}
  div 
   h2 Newsletters
  div 
   h2 Tours booked 

  div
   h2 Delete account 
   p DELETE ACCOCUNT 
   form(action='/user/deleteAccount', method='POST', id="delete_button")
    input(type="submit", name="deleteAccount", value="Delete Account", id="deleteAccount_input")